@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	background-color: rgba(0, 0, 0, 0.5);
}

.navbar-nav {
	font-size: 14px;
}

.nav-link {
	color: #fff;
}

.navbar-brand {
	font-size: 24px;
	margin-right: 8vmax;
}

.menu__links {
	width: 40%;
}

.main-screen {
	background-image: url(/src/bg-image-1.svg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.btn__play {
	padding: 1rem 5rem;
	background-color: #FFB548;
	border: none;
	color: #1A1917;

}

.heading__text {
	font-family: 'Bebas Neue';
	color: #ffffff;
}

.about__gallery {
	background-image: url(/src/bg-image-2.svg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.features {
	background-image: url(/src/bg-image-3.svg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.p-text {
	font-family: 'Open Sans';
}

.timeline {
	position: relative;
}

.timeline.active::before {
	background-color: #ffff;
}

.bar-vertical {
	height: 148px;
}


.timeline::before {
	content: '';
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: 2px solid #fff;
	position: absolute;
	left: -8%;
	top: 10px;
	z-index: 11;
}

.h3 {
	color: #FFB548;
}

@media (max-width: 767.98px) {


	.h3__main {
		font-size: 18px;
	}

	.btn__play {
		padding: 0.5rem 3rem
	}
}

@media(max-width:576px) {
	.timeline::before {
		left: -12.5%;
	}
}